<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選課系統</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='course.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <h1>選課系統</h1>
    <!-- 加選表單 -->
    <h2>Welcome {{ logged_in_user_id }}</h2>

    <h2>加選課程</h2>
    <!-- 顯示系所課程 -->
    <form id="selectForm" action="/get_courses" method="POST">
        <label for="course">選擇系所：</label>
        <select id="course" name="course">
            <!--內容先少少的-->
            <option value="0">資訊工程學系</option>
            <option value="1">電機工程學系</option>
        </select>
        <button type="button" id="submitButton">選擇</button>
    </form>
    <!-- 顯示課程表格 -->
    <div id="dataDisplay"></div>

    <!-- 退選表單 -->
    <h2>已選課程</h2>
    <ul id="selected-courses">
        <!-- 顯示已選擇的課程 -->
        <table>
            <tr>
                <th></th>
                <th>一</th>
                <th>二</th>
                <th>三</th>
                <th>四</th>
                <th>五</th>
            </tr>
            <tr>
                <th>1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>5</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>6</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>7</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>8</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            </tr>
        </table>
    </ul>
    <!-- 更新課表按鈕 -->
    <button type="button" id="updateScheduleButton">更新課表</button>
    <!-- 退選頁面按鈕 -->
    <h2>退選課程</h2>
    <form action="/course_deselection" method="GET">
        <button type="submit" id="redirectTowithdrawPage">退選頁面</button>
    </form>
    <h2>修課歷史</h2>
    <form action="/history" method="GET">
        <button type="submit" id="redirectTowithdrawPage">修課歷史</button>
    </form>
    <br>
    <form action="/logout" method="GET">
        <button type="submit" id="logout">登出</button>
    </form>
    <script>
        // 確保網頁已經載入完畢
        $(document).ready(function () {
            // 當使用者按下更新課表按鈕時
            $("#updateScheduleButton").click(function () {
                // 發送異步的HTTP請求 發送了一個GET請求到URL為'/update_schedule'的後端接口
                $.ajax({
                    url: '/update_schedule',
                    type: 'GET',
                    // 指定請求成功時要執行的函數
                    success: function (response) {
                        // 更新課表
                        alert('課表更新成功!')
                        // 在工作列可看到獲取的資料
                        console.log(response);
                        updateSchedule(response);
                    }
                });
            });
            // 載入頁面時自動更新課表
            $("#updateScheduleButton").click();
            // 當使用者按下選擇按鈕時
            $("#submitButton").click(function (event) {
                // 防止表單預設的提交行為
                event.preventDefault();
                // 發送異步的HTTP請求 發送了一個POST請求到URL為'/get_courses'的後端接口，並將表單數據序列化後作為請求數據
                $.ajax({
                    url: '/get_courses',
                    type: 'POST',
                    data: $('#selectForm').serialize(),
                    // 指定請求成功時要執行的函數
                    success: function (response) {
                        var courses = response;

                        var headerRow = "<tr><th>名稱</th><th>學分</th><th>年級</th><th>必修與否</th><th>星期</th><th>節</th><th>課程描述</th><th>選擇鍵<th></tr>";

                        var what_course_have = '';
                        for (var i = 0; i < courses.length; i++) {
                            // 獲取 course_times 物件
                            var courseTimes = courses[i].course_times;
                            // 獲取 week_day 和 time_index
                            var weekDay = courseTimes[0]['week_day'];
                            var timeIndex = courseTimes[0]['time_index'];
                            // 使用 console.log() 輸出資訊
                            console.log("Course Times:", courseTimes)
                            console.log("Week Day:", weekDay);
                            console.log("Time Index:", timeIndex);
                            // 將 button 賦予 data-id 為該課程相對應的 course_id
                            what_course_have += '<tr><td>' + courses[i].course_name + '</td><td>' + courses[i].credit + '</td><td>' + courses[i].grade +
                                '</td><td>' + courses[i].required + '</td><td>' + weekDay + '</td><td>' + timeIndex  + '</td><td>' + courses[i].description + '</td><td><button data-id="' + courses[i].course_id + '" class="select-course">選擇</button></td></tr>';

                        }
                        // 將動態生成的課程表插入到頁面中
                        $('#dataDisplay').html('<table>' + headerRow + what_course_have + '</table>');
                    }
                });
            });

            // 將所輸入的回傳給後端
            $(document).on('click', '.select-course', function () {
                // 指定 data-id 為要回傳的值
                var courseId = $(this).attr('data-id');
                $.ajax({
                    url: '/add_course',
                    type: 'POST',
                    data: { course_id: courseId.toString() }, // 將選擇的課程ID作為數據傳遞給後端
                    success: function (response) {
                        if (response.success) {
                            // 顯示添加成功的提示
                            alert('課程添加成功! 選擇的課程ID為:' + courseId + ' , ' + response.message);
                            $("#updateScheduleButton").click();
                        } else {
                            // 顯示添加失敗的提示
                            alert('課程添加失敗! 錯誤訊息: ' + response.error);
                        }
                    },
                    error: function (response) {
                        // 顯示添加失敗的提示
                        alert('課程添加失敗! 選擇的課程ID為:' + courseId + '與伺服器出現錯誤');
                    }
                });
            });

            

            // 更新課表的table
            function updateSchedule(scheduleData) {
                // console.log(scheduleData);
                var scheduleTable = $("#selected-courses");
                // 清空課表內容
                scheduleTable.empty();
                // 利用 jquery 新增一個 table 元素將課表包住
                var table = $("<table></table>");
                // 一二三四五六日
                var headerRow = "<tr><th></th><th>一</th><th>二</th><th>三</th><th>四</th><th>五</th></tr>";
                table.append(headerRow);

                // 一周8節課,5天
                var periodsPerDay = 8;
                var daysPerWeek = 5;

                // 根據scheduleData動態生成課表內容行
                for (var i = 0; i < periodsPerDay; i++) {
                    var courseRow = "<tr><th>" + (i + 1) + "</th>";
                    for (var j = 0; j < daysPerWeek; j++) {
                        var courseName = null;
                        for (var k = 0; k < scheduleData.length; k++) {
                            console.log(scheduleData[k][1] + " " + scheduleData[k][2] + " " + scheduleData[k][3]);
                            if (scheduleData[k][1] == (j + 1) && scheduleData[k][2] == (i + 1)) {
                                courseName = scheduleData[k][3] + " " + scheduleData[k][0];
                                break;
                            }
                        }
                        courseRow += "<td>" + (courseName ? courseName : "  ") + "</td>";
                    }
                    courseRow += "</tr>";
                    table.append(courseRow);
                }
                // 將表格添加到課表容器中
                scheduleTable.append(table);
            }

        });

    </script>
</body>