<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="/register">
            用戶名：<input name="username"><br />
            <select id="department" name="department">
                <option>請選擇你的系所</option>
                {% for class_item in class_list %}
                    <option>{{ class_item }}</option>
                {% endfor %}
            </select><br />
            <input type="submit" value="註冊">
        </form>
        
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>