<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='course.css') }}">
    <title>退選頁面</title>
</head>
<body>
    <h1>退選頁面</h1>

    <!-- 顯示已選課程的表格 -->
    <div id="selectForm" action="/get_selected_courses" method="POST">
        <table>
            <thead>
                <tr>
                    <th>課程名稱</th>
                    <th>學分</th>
                    <th>年級</th>
                    <th>必/選修</th>
                    <th>課程介紹</th>
                </tr>
            </thead>
            <tbody id="dataDisplay">
                <!-- 此處將使用 JavaScript 填充選課程表 -->
            </tbody>
        </table>
    </div>

    <!-- 觸發按鈕 -->
    <button id="submitButton">更新</button>

    <!-- 返回選課頁面的按鈕 -->
    <button type="button" id="returnToOriginalPage">返回選課頁面</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // 當文檔加載完成後立即執行更新
        $(document).ready(function () {
            $("#submitButton").click();
        });
        // 當使用者按下返回選課頁面按鈕時
        $("#returnToOriginalPage").click(function () {
            var previousPage = localStorage.getItem('previousPage');
            if (previousPage) {
                window.location.href = previousPage;
            } else {
                window.location.href = '/course_selection';
            }
        });
    
        // 當使用者按下觸發按鈕時
        $("#submitButton").click(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/get_selected_courses',
                type: 'POST',
                data: $('#selectForm').serialize(),
                success: function (response) {
                    var courses = response;
                    var html = '';
                    for (var i = 0; i < courses.length; i++) {
                        html += '<tr><td>' + courses[i].course_name + '</td><td>' + courses[i].credit + '</td><td>' + courses[i].grade +
                            '</td><td>'+ courses[i].required + '</td><td>' + courses[i].description + '</td><td><button data-id="' + courses[i].course_id + '" class="select-course">選擇</button></td></tr>';
                    }
                    $('#dataDisplay').html(html);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status == 404) {
                        alert('已退選全部課程');
                        window.location.href = '/course_selection';//沒有課可以退選了 跳回選課頁面
                    }
                }
            });
        });
        
        // 將所輸入的回傳給後端
        $(document).on('click', '.select-course', function () {
            // 指定 data-id 為要回傳的值
            var courseId = $(this).attr('data-id');
            $.ajax({
                url: '/withdraw_courses',
                type: 'POST',
                data: { course_id: courseId.toString() },
                success: function (response) {
                    if (response.confirm_required) {
                        // 如果需要確認退選，彈出提示框
                        if (confirm(response.message)) {
                            // 如果用戶確認退選，則執行退選操作
                            $.ajax({
                                url: '/withdraw_courses_without_check',
                                type: 'POST',
                                data: { course_id: courseId.toString() },
                                success: function () {
                                    alert('操作成功!');
                                    // 自動更新課程列表
                                    $("#submitButton").click();
                                },
                                error: function () {
                                    alert('操作失敗! 請稍後再試。');
                                }
                            });
                        }
                    } else {
                        // 如果不需要確認，直接執行退選操作
                        alert('操作成功!');
                        // 自動更新課程列表
                        $("#submitButton").click();
                    }
                },
                error: function () {
                    alert('操作失敗! 請稍後再試。');
                }
            });
        });
    </script>
    
</body>
</html>